<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crudcomup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.PesquisaSaboresActivity"></activity>
        <activity android:name=".view.CadastroSaboresActivity" />
        <activity android:name=".view.PesquisaCategoriaActivity" />
        <activity android:name=".view.CadastroCategoriaActivity" />
        <activity android:name=".view.PesquisaBordaActivity" />
        <activity android:name=".view.CadastroBordaActivity" />
        <activity android:name=".view.PesquisaProdutoActivity" />
        <activity android:name=".view.PesquisaUsuarioActivity" />
        <activity android:name=".view.CadastroUsuarioActivity" />
        <activity android:name=".view.CadastroProdutoActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>